@model IEnumerable<Somativa.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1 class="m-2">Clientes</h1>

<p>
    <a asp-action="Create" class="btn m-2" style="background-color:#FF0091;">Criar</a>
</p>
<table class="table table-striped table-hover" style="background-color:#FEB2DD; ">
    <thead class="table =" style="background-color:#FF70C1; ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nascimento)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ClienteId" class="p-2"> <svg bootstrap-icon="PencilSquare" class="text-dark " width="20" height="20"></svg></a>
                    <a asp-action="Details" asp-route-id="@item.ClienteId" class=" p-2"><svg bootstrap-icon="ZoomIn" width="20" height="20" class=" text-dark "></svg></a>
                    <a asp-action="Delete" asp-route-id="@item.ClienteId" class="p-2"><svg bootstrap-icon="Trash" width="20" height="20" class=" text-dark "></svg></a>
            </td>
        </tr>
}
    </tbody>
</table>
