@model Somativa.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<div class="container py-3">

    <div class="alert alert-warning alert-dismissible fade show">

        <h4 class="alert-heading">Realmente deseja apagar este Produto?</h4>

        <p>Esta ação é permanente!</p>

        <button class="btn-close" data-bs-dismiss="alert"></button>



    </div>
</div>
<div class="container" style="background-color:#245B55; width:500px; align-items:center;border-radius:50px; margin-top:10px;">
    <br />
    <div>
        <div class="container text-white p-5">
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Estoque)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Estoque)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Preco)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Preco)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Categoria.Nome)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Fornecedor)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Fornecedor.Nome)
                </dd>
            </dl>
            <div class="align-content-center" style="justify-content:space-between; margin-left:120px; margin-top:15px;">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="FornecedorId" />
                    <input type="submit" value="Delete" class="btn btn-outline-dark " style="background-color:#408980;" />
                    <a asp-action="Index" class="btn btn-outline-dark " style="background-color:burlywood;">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>