@model Somativa.Models.CompraItem

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="background-color:#FF8080; width:500px; align-items:center;border-radius:50px;margin-top:30px;margin-bottom:60px;">
    <br />
    <div class="text-center">
        <h3 class="text-center ">Detalhes</h3>
        <div class="container p-5 ">
            @Html.DisplayNameFor(model => model.Compra)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Compra.CompraId)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Produto.ProdutoId)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Unitario)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Unitario)
        </dd>
    </dl>
</div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.CompraItemId" class="btn btn-outline-dark  " style="background-color:#FF3131;">Editar</a>
            <a asp-action="Index" class="btn btn-outline-dark " asp-route-id="@ViewBag.CompraId" style="background-color:burlywood;">Voltar</a>
        </div>
        <br />
    </div>
</div>